/* propiedades aplicadas de maner general */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }
 
 body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
 }
 
 p {
    font-size: 12px;
 }
 
 h3 {
    font-size: 24px;
 }
 
 /* -------------------   Formato Header ----------------------------------- */
 header {
    background-color: #EAC926;
    padding: 20px;
 }
 .logo {
    width: 50%;
 }
  
 .buscar {
    align-items: center;
     display: flex;
     width: 50%;;
     box-sizing: border-box;
      /*    max-inline-size: none; */
     /* padding-bottom: 1px; */
     /* align-self: stretch; */
     
 }
 
  header input {
    box-sizing: border-box;
    background-color: white;
    border-radius: 4px;
    border: solid black 1px;
    padding: 2px;
    width: 100%; 
 }
 
 .lupa {
    background-color: none;
    border-radius: 4px;
    border: none;
    padding: 0px;
    position: relative;
    right: 17px;
    /* margin-left: -15px; */
 }
 
 header ul li a{
    text-decoration: none;
    color: #000;
 }
 
 header ul {
    list-style: none;
 }
 
 .main-navbar {
    display: none;
    margin: 0;
    padding: 0;   
 }
 
 .header-cuotas {
    text-align: center;
    font-weight: 400;
    /* align-items: center; */
    font-size: 18px;
 }
 
 .banner {
    width: 100%;
 }
 .cabecera-logo {
    display: flex;
 } 
 
 .burger-menu i{
    padding: 15px;
    margin: 20px 10px; 
    color: white;
    background-color: #1259c3;
    border-radius: 5px;
    font-size: 20px;
 }
 
 .burger-menu {
    text-align: center;
 }
 
  /* ---------------------------- Formato Main del Home ------------------------*/
 
 main {
    background-color: #ebebeb;
    background-size: 90%;
    margin: 15px;
 }
 
 /* ------------------------------- Formato Footer ------------------------- */
 
.footextos {
    line-height: 20px;
    text-align: center;
}
 
.footextos2 {
    margin: 20px 0px;
}
.footextos2 p{
   font-size: 0.7em;
   margin-left: 55px;
   margin-right: 55px;
}
h5{
   font-size: x-small;
   margin-left: 40px;
} 
footer i {
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
    transition: 500ms;
}
 
 footer:hover {
    color: #0022AA
}
 

 /* ----------------------- Formato mail del Login y Register ------------------------------ */
 
main form {
    box-sizing: border-box;
    text-align: center;
    background-color: whitesmoke;
    margin-top: 10px;
    margin: auto;
    padding: 50px;
    width: 350px;
}
.datos-usuario input{
    width: 280px;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 16px;
    margin-left: -15px;
}
 .nombre-usuario input{
    margin-left: -15px;
}
.fecha label{
    text-align: justify;
    font-weight: bold;
    margin-left: -120px
}
 .fecha input{
    text-align: center;
    font-size: medium;
    margin: 10px;
    width: 111%;
    border: solid 2px #666;
    border-radius: 4px;
    margin-left: -13px;
}
 .perfil-usuario{
    margin-bottom: 16px;
    text-align: justify;
    font-weight: bold;
    margin-left: -9px
}
 .radio input{
    cursor: pointer;
    padding: 10px;
    font-size: 0.5em;
    border-radius: 3px;
    width: 30px ;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 16px;
}
 .intereses label{
    margin-bottom: 16px;
    text-align: justify;
    font-weight: bold;
    margin-left: -190px
}
 .checkbox input{
    cursor: pointer;
    padding: 10px;
    font-size: 1em;
    width: 12px ;
    margin-left: -149px;
        
}
 .checkboxJyVS input{
   cursor: pointer;
   padding: 10px;
   font-size: 1em;
   width: 12px ;
   margin-left: -117px;
}
 .foto-usuario{
    text-align: justify;
    font-weight: bold;
    margin-left: 5px
}
.file{
    padding: 1px;
    font-size: 1em;
    width: auto ;
    margin-left: 15px;
}
.contraseña input{
    margin-left: -15px;
}
.confirma-contraseña input{
    margin-left: -15px;
}
.boton-formulario,.boton-enviar {
    background-color: #1259c3;
    border: none;
    font-size: 15px;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 500ms;
    padding: 10px;
    margin-left: 19px;
}
.boton-enviar {
    background-color: #1259c3;
    border: none;
    font-size: 15px;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 500ms;
    padding: 10px;
    margin-left: 10px;
}
.boton-formulario:hover {
    background-color: #0022AA;
}

 /* -------------------------------- MEDIA QUERY -----------------------------------------*/
 
 /* ---- TABLET --- */
 
 @media (min-width: 481px) {
    .logo {
        width: 75%;
        /* margin: 0%; */
   }
    
   .contenedor {
       display: flex;
       justify-content: space-between;
       margin-bottom: 20px;
       align-items: center;
       box-sizing: border-box;
       
   }
   .header-cuotas {
        width: 40%;
        font-size: small;
        /* display: flex;
        flex-direction: row;
        font-size: small;*/
   } 
    
   .burger-menu {
        display: none;
   }
 
   .main-navbar {
        display: flex;
        justify-content: space-between;
   }
   .main-navbar ul {
       display: flex;
   }
   .footextos {
        line-height: 20px;
        text-align: center;
   }
     
    .footextos2 {
        margin: 20px 0px;
        text-align: center;
   }
    .footextos2 p{
      font-size: 0.7em;
      margin-left: 50px;
      margin-right: 60px;
    }
   h5{
      font-size: x-small;
      margin-left: 60px;
   }
   footer i {
        font-size: 2em;
        color: #1259c3;
        margin-bottom: 10px;
        transition: 500ms;
        text-align: center  ;
   }
     
   footer i:hover {
        color: #0022AA
   }
  
/* ----- Formato formulario Query Tablet */
main form {
   box-sizing: border-box;
   text-align: center;
   background-color: whitesmoke;
   margin-top: 10px;
   margin: auto;
   padding: 50px;
   width: 385px;
}
.datos-usuario{
   text-align: center;
   margin-bottom: 16px;
   margin-left: -30px;
}
.datos-usuario input{
   width: 300px;
   border-radius: 4px;
   padding: 10px;
   margin-bottom: 16px;
   margin-left: 10px;
}
.nombre-usuario input{
   margin-left: 11px;
}
.fecha label{
   text-align: justify;
   font-weight: bold;
   margin-left: -111px
}
.fecha input{
   text-align: center;
   font-size: medium;
   margin: 10px;
   width: 94%;
   border: solid 2px #666;
   border-radius: 5px;
   margin-left: 27px;
}
.domicilio input{
   margin-left: 12px;
}
.perfil-usuario{
   margin-left: 18px
}
.radio input{
   width: 70px ;
   margin-left: 10px;
}
.intereses label{
   margin-bottom: 16px;
   margin-left: -175px
}
.checkbox input{
   width: auto;
   margin-left: -170px;
}
.checkboxJyVS input {
   width: auto ;
   margin-left: -140px;
       
}
.foto-usuario{
   text-align: justify;
   font-weight: bold;
   margin-left: 27px
}
.file{
   margin-left: 23px;
}
.contraseña input{
   width: 289px;
   border-radius: 4px;
   padding: 10px;
   margin-bottom: 16px;
   margin-left: 20px;
}
.confirma-contraseña input{
   width: 289px;
   border-radius: 4px;
   padding: 10px;
   margin-bottom: 16px;
   margin-left: 20px;
}
.boton-formulario,.boton-enviar {
   background-color: #1259c3;
   border: none;
   font-size: 15px;
   color: #FFF;
   padding: 5px 10px;
   border-radius: 10px;
   transition: 500ms;
   padding: 10px;
   margin-left: 25px;
 
}
.boton-enviar {
   background-color: #1259c3;
   border: none;
   font-size: 15px;
   color: #FFF;
   padding: 5px 10px;
   border-radius: 10px;
   transition: 500ms;
   padding: 10px;
   margin-left: 25px;
}

    /* --------------Noteboob - PC --------- */
    
    @media (min-width: 769px) {
    .main-navbar li {
          margin: 0 10px;
   }
    
    .main-navbar a {
       font-size: 14px;
   }  
   
   .header-cuotas {
    width: 30%;
   } 
 
    .producto {
       margin-top: 10px;
       width: 20%;
   }
    
    #descripcion {
       display: none;
       text-align: center;
       transition: 1500ms;
   }
    .caja-general {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
    }
 
    .footextos {
       display: flex;
       justify-content: space-between;
       margin: 10px 20px;
    }
   h5{
      font-size: 1em;
      margin-left: 3px;
   }
    
   main article:hover #description{
       display: block;
   }
 
   main article:hover i {
       transform: rotate(360deg)
   }

   /* ----- Formato formulario Query PC-Notebook */
   main form {
      box-sizing: border-box;
      text-align: center;
      background-color: whitesmoke;
      margin-top: 10px;
      margin: auto;
      padding: 50px;
      width: 500px;
   }
   .datos-usuario{
      text-align: center;
      margin-bottom: 16px;
   }
   .datos-usuario label{
      margin-left: 5%;
     
   }
   .datos-usuario input{
      width: 300px;
      border-radius: 4px;
      padding: 10px;
      margin-bottom: 16px;
      margin-left: 10px;
   }
   .nombre-usuario input{
      margin-left: 11px;
   }
  .fecha label{
      text-align: justify;
      font-weight: bold;
      margin-left: -110px
   }
   .fecha input{
      text-align: center;
      font-size: medium;
      margin: 10px;
      width: 74%;
      border: solid 2px #666;
      border-radius: 5px;
      margin-left: 40px;
   }
   .perfil-usuario{
      margin-bottom: 16px;
      text-align: justify;
      font-weight: bold;
      margin-left: 55px
   }
   .radio input{
      cursor: pointer;
      padding: 10px;
      font-size: 1em;
      border-radius: 3px;
      width: 77px ;
      margin-left: 20px;
      margin-bottom: 16px;
   }
   .intereses label{
      margin-bottom: 16px;
      text-align: justify;
      font-weight: bold;
      margin-left: -175px
   }
   .checkbox input{
      cursor: pointer;
      padding: 10px;
      font-size: 1em;
      width: auto ;
      margin-left: -179px;
          
   }
   .checkboxJyVS input {
      cursor: pointer;
      padding: 10px;
      font-size: 1em;
      width: auto ;
      margin-left: -150px;
          
   }
   .foto-usuario{
      text-align: justify;
      font-weight: bold;
      margin-left: 64px
   }
   .file{
      padding: 1px;
      font-size: 1em;
      width: auto ;
      margin-left: 45px;
   }
   .contraseña input{
      width: 300px;
      border-radius: 4px;
      padding: 10px;
      margin-bottom: 16px;
      margin-left: 10px;
   }
   .confirma-contraseña input{
      width: 300px;
      border-radius: 4px;
      padding: 10px;
      margin-bottom: 16px;
      margin-left: 10px;
   }
   .boton-formulario,.boton-enviar {
      background-color: #1259c3;
      border: none;
      font-size: 15px;
      color: #FFF;
      padding: 5px 10px;
      border-radius: 10px;
      transition: 500ms;
      padding: 10px;
      margin-left: 25px;
    
   }
   .boton-enviar {
      background-color: #1259c3;
      border: none;
      font-size: 15px;
      color: #FFF;
      padding: 5px 10px;
      border-radius: 10px;
      transition: 500ms;
      padding: 10px;
      margin-left: 25px;
   }
  
   }
}
 